In [5]:
import numpy as np
import pandas as pd

In [19]:
data=pd.read_csv("dataset.csv")

In [20]:
data.drop(['Symptom_6','Symptom_7','Symptom_8','Symptom_9','Symptom_10','Symptom_11','Symptom_12','Symptom_13','Symptom_14','Symptom_15','Symptom_16','Symptom_17'],axis=1,inplace=True)

In [21]:
data.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN

In [22]:
data_ser=pd.read_csv("Symptom-severity.csv")

In [23]:
data_dict = data_ser.set_index('Symptom').T.to_dict()

C:\Users\Prince\AppData\Local\Temp/ipykernel_8540/1348361067.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  data_dict = data_ser.set_index('Symptom').T.to_dict()

In [24]:
def remove_space_between_word(dataset):
    for col in dataset.columns:
        for i in range(len(dataset[col])):
            if (type(dataset[col][i]) == str ):
                dataset[col][i] = dataset[col][i].strip()
                dataset[col][i] = dataset[col][i].replace(" ", "_")
    return data

In [25]:
new_df = remove_space_between_word(data)
new_df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5
0,Fungal_infection,itching,skin_rash,nodal_skin_eruptions,dischromic__patches,NaN
1,Fungal_infection,skin_rash,nodal_skin_eruptions,dischromic__patches,NaN,NaN
2,Fungal_infection,itching,nodal_skin_eruptions,dischromic__patches,NaN,NaN
3,Fungal_infection,itching,skin_rash,dischromic__patches,NaN,NaN
4,Fungal_infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN

In [26]:
def encode_data(dataset , data_dict_weigth):
    cols = dataset.columns
    for columnName in cols:
        for i in range(len(dataset[columnName])):
            try:
           # print(data_dict[data2[columnName][i]]["weight"])
                dataset[columnName][i] = data_dict[dataset[columnName][i]]["weight"]
            except:
                pass
    dataset = dataset.fillna(0) # put empty cell to 0
    dataset = dataset.replace("foul_smell_of_urine" , 5)
    dataset = dataset.replace("dischromic__patches" , 6)
    dataset = dataset.replace("spotting__urination" , 6)
    return dataset

In [27]:
df = encode_data(new_df , data_dict)
df.head()

            Disease  Symptom_1  Symptom_2  Symptom_3  Symptom_4  Symptom_5
0  Fungal_infection          1          3          4          6          0
1  Fungal_infection          3          4          6          0          0
2  Fungal_infection          1          4          6          0          0
3  Fungal_infection          1          3          6          0          0
4  Fungal_infection          1          3          4          0          0

In [28]:
df_data = df.drop('Disease' , axis =1)
label = data["Disease"]

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,f1_score,accuracy_score

x_train, x_test, y_train, y_test = train_test_split(df_data, label, shuffle=True, train_size = 0.70)
model = RandomForestClassifier()
model.fit(x_train, y_train)
result = model.predict(x_test)
print(model)
print(classification_report(y_true=y_test, y_pred=result))
print('F1-score% =', f1_score(y_test, result, average='macro')*100, '|', 'Accuracy% =', accuracy_score(y_test, result)*100)

RandomForestClassifier()
                                         precision    recall  f1-score   support

(vertigo)_Paroymsal__Positional_Vertigo       0.87      1.00      0.93        34
                                   AIDS       1.00      1.00      1.00        40
                                   Acne       1.00      1.00      1.00        36
                    Alcoholic_hepatitis       1.00      1.00      1.00        36
                                Allergy       0.88      1.00      0.93        28
                              Arthritis       1.00      1.00      1.00        37
                       Bronchial_Asthma       1.00      1.00      1.00        40
                   Cervical_spondylosis       0.90      1.00      0.95        37
                            Chicken_pox       1.00      1.00      1.00        51
                    Chronic_cholestasis       1.00      0.93      0.96        29
                            Common_Cold       1.00      0.93      0.96        41
                                 Dengue       1.00      1.00      1.00        45
                               Diabetes       1.00      1.00      1.00        31
           Dimorphic_hemmorhoids(piles)       1.00      1.00      1.00        32
                          Drug_Reaction       1.00      1.00      1.00        32
                       Fungal_infection       0.92      1.00      0.96        34
                                   GERD       0.98      1.00      0.99        42
                        Gastroenteritis       1.00      0.86      0.92        28
                           Heart_attack       1.00      1.00      1.00        37
                            Hepatitis_B       1.00      1.00      1.00        36
                            Hepatitis_C       1.00      0.91      0.95        34
                            Hepatitis_D       0.48      0.89      0.63        36
                            Hepatitis_E       1.00      0.26      0.41        31
                           Hypertension       0.92      0.90      0.91        40
                        Hyperthyroidism       1.00      1.00      1.00        41
                           Hypoglycemia       1.00      1.00      1.00        42
                         Hypothyroidism       1.00      1.00      1.00        27
                               Impetigo       1.00      0.93      0.96        40
                               Jaundice       1.00      1.00      1.00        35
                                Malaria       1.00      1.00      1.00        36
                               Migraine       0.92      0.92      0.92        36
                        Osteoarthristis       1.00      1.00      1.00        36
           Paralysis_(brain_hemorrhage)       1.00      0.92      0.96        38
                    Peptic_ulcer_diseae       1.00      1.00      1.00        36
                              Pneumonia       0.92      1.00      0.96        36
                              Psoriasis       1.00      1.00      1.00        31
                           Tuberculosis       1.00      0.19      0.32        37
                                Typhoid       0.66      1.00      0.79        42
                Urinary_tract_infection       1.00      1.00      1.00        30
                         Varicose_veins       1.00      1.00      1.00        36
                            hepatitis_A       0.87      0.87      0.87        30

                               accuracy                           0.94      1476
                              macro avg       0.96      0.94      0.93      1476
                           weighted avg       0.96      0.94      0.94      1476

F1-score% = 93.3799630733303 | Accuracy% = 94.17344173441734

In [30]:
model.predict([[1,3,4,6,0]])

array(['Fungal_infection'], dtype=object)

In [35]:
import pickle
file=open('model.sav','wb')

In [36]:
pickle.dump(model,file)

In [37]:
data_ser.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [34]:
data_ser['weight']

0      1
1      3
2      4
3      4
4      5
      ..
128    2
129    4
130    2
131    3
132    5
Name: weight, Length: 133, dtype: int64

In [6]:
pre=pd.read_csv('symptom_precaution.csv')

In [13]:
pre.head()
x='Drug Reaction'

In [8]:
pre.head()

,Disease,Precaution_1,Precaution_2,Precaution_3,Precaution_4
0,Drug Reaction,stop irritation,consult nearest hospital,stop taking drug,follow up
1,Malaria,Consult nearest hospital,avoid oily food,avoid non veg food,keep mosquitos out
2,Allergy,apply calamine,cover area with bandage,NaN,use ice to compress itching
3,Hypothyroidism,reduce stress,exercise,eat healthy,get proper sleep
4,Psoriasis,wash hands with warm soapy water,stop bleeding using pressure,consult doctor,salt baths

In [15]:
pre.shape

(41, 5)

In [22]:
y=list(pre['Precaution_4'])

In [29]:
pre.iloc[2,2]

'cover area with bandage'

In [14]:
for i in y:
    if (i==x):
        print(index_of(i))
        exit()
    else:
        pass

NameError: name 'index_of' is not defined