In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("dataset.csv")

In [10]:
data.drop(['Symptom_6','Symptom_7','Symptom_8','Symptom_9','Symptom_10','Symptom_11','Symptom_12','Symptom_13','Symptom_14','Symptom_15','Symptom_16','Symptom_17'],axis=1,inplace=True)

In [11]:
data.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN

In [44]:
data_ser=pd.read_csv("Symptom-severity.csv")

In [21]:
data_dict = data_ser.set_index('Symptom').T.to_dict()

C:\Users\Prince\AppData\Local\Temp/ipykernel_9784/1348361067.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  data_dict = data_ser.set_index('Symptom').T.to_dict()

In [22]:
def remove_space_between_word(dataset):
    for col in dataset.columns:
        for i in range(len(dataset[col])):
            if (type(dataset[col][i]) == str ):
                dataset[col][i] = dataset[col][i].strip()
                dataset[col][i] = dataset[col][i].replace(" ", "_")
    return data

In [23]:
new_df = remove_space_between_word(data)
new_df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5
0,Fungal_infection,itching,skin_rash,nodal_skin_eruptions,dischromic__patches,NaN
1,Fungal_infection,skin_rash,nodal_skin_eruptions,dischromic__patches,NaN,NaN
2,Fungal_infection,itching,nodal_skin_eruptions,dischromic__patches,NaN,NaN
3,Fungal_infection,itching,skin_rash,dischromic__patches,NaN,NaN
4,Fungal_infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN

In [24]:
def encode_data(dataset , data_dict_weigth):
    cols = dataset.columns
    for columnName in cols:
        for i in range(len(dataset[columnName])):
            try:
           # print(data_dict[data2[columnName][i]]["weight"])
                dataset[columnName][i] = data_dict[dataset[columnName][i]]["weight"]
            except:
                pass
    dataset = dataset.fillna(0) # put empty cell to 0
    dataset = dataset.replace("foul_smell_of_urine" , 5)
    dataset = dataset.replace("dischromic__patches" , 6)
    dataset = dataset.replace("spotting__urination" , 6)
    return dataset

In [25]:
df = encode_data(new_df , data_dict)
df.head()

            Disease  Symptom_1  Symptom_2  Symptom_3  Symptom_4  Symptom_5
0  Fungal_infection          1          3          4          6          0
1  Fungal_infection          3          4          6          0          0
2  Fungal_infection          1          4          6          0          0
3  Fungal_infection          1          3          6          0          0
4  Fungal_infection          1          3          4          0          0

In [26]:
df_data = df.drop('Disease' , axis =1)
label = data["Disease"]

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,f1_score,accuracy_score

x_train, x_test, y_train, y_test = train_test_split(df_data, label, shuffle=True, train_size = 0.70)
model = RandomForestClassifier()
model.fit(x_train, y_train)
result = model.predict(x_test)
print(model)
print(classification_report(y_true=y_test, y_pred=result))
print('F1-score% =', f1_score(y_test, result, average='macro')*100, '|', 'Accuracy% =', accuracy_score(y_test, result)*100)

RandomForestClassifier()
                                         precision    recall  f1-score   support

(vertigo)_Paroymsal__Positional_Vertigo       0.91      1.00      0.95        42
                                   AIDS       1.00      1.00      1.00        38
                                   Acne       1.00      1.00      1.00        34
                    Alcoholic_hepatitis       1.00      1.00      1.00        30
                                Allergy       0.87      1.00      0.93        34
                              Arthritis       1.00      1.00      1.00        31
                       Bronchial_Asthma       1.00      1.00      1.00        35
                   Cervical_spondylosis       1.00      0.93      0.96        43
                            Chicken_pox       1.00      1.00      1.00        29
                    Chronic_cholestasis       1.00      0.94      0.97        34
                            Common_Cold       1.00      0.94      0.97        34
                                 Dengue       1.00      1.00      1.00        38
                               Diabetes       1.00      1.00      1.00        40
           Dimorphic_hemmorhoids(piles)       1.00      1.00      1.00        37
                          Drug_Reaction       1.00      1.00      1.00        31
                       Fungal_infection       0.91      1.00      0.95        41
                                   GERD       0.91      1.00      0.95        31
                        Gastroenteritis       1.00      0.84      0.92        32
                           Heart_attack       1.00      1.00      1.00        47
                            Hepatitis_B       1.00      1.00      1.00        33
                            Hepatitis_C       1.00      0.92      0.96        39
                            Hepatitis_D       0.79      0.26      0.39        42
                            Hepatitis_E       1.00      0.17      0.29        30
                           Hypertension       0.89      1.00      0.94        40
                        Hyperthyroidism       1.00      1.00      1.00        27
                           Hypoglycemia       1.00      1.00      1.00        33
                         Hypothyroidism       1.00      1.00      1.00        41
                               Impetigo       1.00      0.94      0.97        36
                               Jaundice       1.00      1.00      1.00        37
                                Malaria       1.00      1.00      1.00        31
                               Migraine       0.83      0.95      0.88        40
                        Osteoarthristis       1.00      1.00      1.00        30
           Paralysis_(brain_hemorrhage)       1.00      0.90      0.95        39
                    Peptic_ulcer_diseae       1.00      1.00      1.00        38
                              Pneumonia       0.95      1.00      0.97        36
                              Psoriasis       1.00      1.00      1.00        38
                           Tuberculosis       0.47      1.00      0.64        28
                                Typhoid       0.60      1.00      0.75        33
                Urinary_tract_infection       1.00      1.00      1.00        40
                         Varicose_veins       1.00      1.00      1.00        39
                            hepatitis_A       0.94      0.76      0.84        45

                               accuracy                           0.94      1476
                              macro avg       0.95      0.94      0.93      1476
                           weighted avg       0.95      0.94      0.93      1476

F1-score% = 93.15018672466189 | Accuracy% = 93.90243902439023

In [47]:
model.predict([[1,3,4,6,0]])

array(['Fungal_infection'], dtype=object)

In [36]:
import pickle
file=open('model_1.pkl','wb')

In [37]:
pickle.dump(model,file)

In [46]:
data_ser.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

In [45]:
data_ser['weight']

0      1
1      3
2      4
3      4
4      5
      ..
128    2
129    4
130    2
131    3
132    5
Name: weight, Length: 133, dtype: int64